{% extends 'base.html' %}

{% block content %}

<div class="container mt-4">

    <h2>Checkout</h2>

    <div class="row">

        <div class="col-md-8">

            <form method="post">

                {% csrf_token %}

                <div class="row">

                    <div class="col-md-6 mb-3">

                        <label class="form-label">First name *</label>

                        {{ form.first_name}}

                    </div>

                    <div class="col-md-6 mb-3">

                        <label class="form-label">Last name *</label>

                        {{ form.last_name}}
                        
                    </div>
                </div>

                <div class="mb-3">

                    <label class="form-label">Email *</label>

                    {{ form.email }}

                </div>

                <div class="row">

                    <div class="col-md-6 mb-3">

                        <label class="form-label">Phone</label>

                        {{ form.phone }}

                    </div>

                    <div class="col-md-6 mb-3">

                        <label class="form-label">Country</label>

                        {{ form.country }}

                    </div>

                </div>

                <div class="mb-3">

                    <label class="form-label">Address *</label>

                    {{ form.address }}

                </div>

                <div class="row">

                    <div class="col-md-8 mb-3">

                        <label class="form-label">City *</label>

                        {{ form.city }}

                    </div>

                    <div class="col-md-4 mb-3">

                        <label class="form-label">Postal code *</label>

                        {{ form.postal_code }}
                        
                    </div>

                </div>

                <button
                    type = "submit"
                    class = "btn btn-success">

                    Place Order

                </button>

            </form>
            
        </div>

        <div class="col-md-4">

            <div class="card">

                <div class="card-body">

                    <h5>Your Order</h5>

                    <hr>

                    {% for item in cart %}

                    <p>
                        {{ item.quantity }} x {{ item.product.name }}
                    </p>

                    {% endfor %}

                    <hr>

                    <strong>
                        Total:
                        €{{ total }}
                    </strong>

                </div>

            </div>

        </div>

    </div>

</div>

{% endblock %}