{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">

    <div clas="card shadow-sm">

        <div class="card-body text-center">

            <h2 class="text-success mb-3">
                Order Successfully created!
            </h2>

            <p class="fs-5">
                Your order number is:
                <strong>#{{ order.id }}</strong>
            </p>

            <p class="text-muted">
                Thank you for your purchase.
            </p>

            <div class="mt-4">

                {% if order.user %}

                    <a href="{% url 'orders:order_detail' order.id %}"
                       class="btn btn-primary me-2">
                        View order details
                    </a>

                {% else %}

                    <a href="{% url 'orders:guest_order_detail' order.token %}"
                       class="btn btn-primary me-2">
                        View order details
                    </a>

                {% endif %}

                <a href="{% url 'shop:product_list' %}"
                   class="btn btn-outline-secondary">
                   Continue shopping
                </a>

            </div>

        </div>

    </div>

{% endblock %}