{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="container-fluid pt-4">

    <div class="row g-4">

        <div class="col-md-6">

            <div class="card shadow-sm">

                {% if product.image %}

                    <img src="{{ product.image.url }}" 
                        class="card-img-top"
                        style="height:450px; object-fit: cover;">

                {% else %}

                    <div class="d-flex align-items-center justify-content-center bg-light"
                        style="height: 450px;">

                        <span class="text-muted">
                            No image
                        </span>

                    </div>

                {% endif %}

            </div>

        </div>
        
        <div class="col-md-6">

            <div class="card shadow-sm">

                <div class="card-body">

                    <h2>
                        {{ product.name }}
                    </h2>

                    {% if product.stock > 0 %}

                        <span class="badge bg-success">
                            In stock
                        </span>

                    {% else %}

                        <span class="badge bg-danger">
                            Out of stock
                        </span>

                    {% endif %}

                    <h3 class="mt-3">
                        {{ product.price }} €
                    </h3>

                    <p>
                        {{ product.description }}
                    </p>

                    <hr>

                    <h5>Specifications</h5>

                    {% if product.socket %}
                        <p><b>Socket:</b> {{ product.socket }}</p>
                    {% endif %}

                    {% if product.ram_type %}
                        <p><b>RAM type:</b>{{ product.ram_type }}</p>
                    {% endif %}

                    {% if product.storage_type %}
                        <p><b>Storage:</b> {{ product.storage_type }}</p>
                    {% endif %}

                    {% if product.power_required %}
                        <p><b>Power Required:</b> {{ product.power_required }}W</p>
                    {% endif %}

                    {% if product.category.name == "GPU" and product.power_required %}
                        <div class="alert alert-warning mt-3">
                            <b>Power recommendation:</b>
                            <br>
                            This GPU requires at least {{ product.power_required }}W PSU.
                        </div>
                    {% endif %}

                    {% if product.gpu_length %}
                        <p><b>GPU length:</b> {{ product.gpu_length }}mm</p>
                    {% endif %}

                    {% if product.form_factor %}
                        <p><b>Form Factor:</b> {{ product.form_factor }}</p>
                    {% endif %}

                    {% if product.stock > 0 %}

                        <form action="{% url 'cart:add_to_cart' product.id %}"
                                method="post"
                                class="mt-4">

                            {% csrf_token %}

                            <div class="d-flex justify-content-end gap-2 align-items-center">

                                <input type="number"
                                        name="quantity"
                                        value="1"
                                        min="1"
                                        max="{{ product.stock }}"
                                        class="form-control"
                                        style="width:100px;">
                            
                                <button class="btn btn-success">
                                    Add to cart
                                </button>

                            </div>

                        </form>

                    {% endif %}

                </div>

            </div>

        </div>

    </div>
            
</div>

{% if compatibility_rules %}

    <hr class="my-5">

    <div class="card border-success shadow-sm">

        <div class="card-header bg-success text-white">

            <h5 class="mb-0">✓ Compatible components</h5>

        </div>

        <div class="card-body">

            {% regroup compatibility_rules by compatibility_type as compatibility_groups %}

                <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4 g-3">

                    {% for group in compatibility_groups %}

                        <div class="col">

                            <div class="card h-100 border-success shadow-sm">

                                <div class="card-body p-3">

                                    {% if group.grouper == "CPU_MB" %}

                                        <h6 class="fw-bold">
                                            🖥️ CPU → Motherboard
                                        </h6>

                                        <p class="text-muted small">
                                            Compatible motherboards for this processor.
                                        </p>          

                                    {% elif group.grouper == "RAM_MB" %}

                                        <h6 class="fw-bold">
                                            💾 RAM → Motherboard
                                        </h6>

                                        <p class="text-muted small">
                                            Compatible motherboards for this memory type.
                                        </p>        
                                                

                                    {% elif group.grouper == "SSD_MB" %}

                                        <h6 class="fw-bold">
                                            💿 SSD → Motherboard
                                        </h6>

                                        <p class="text-muted small">
                                            Compatible motherboards for this storage device.
                                        </p>     

                                    {% elif group.grouper == "GPU_PSU" %}

                                        <h6 class="fw-bold">
                                            ⚡ GPU → PSU
                                        </h6>

                                        <p class="text-muted small">
                                            Recommended power supplies for this graphics card.
                                        </p>  

                                    {% elif group.grouper == "GPU_CASE" %}

                                        <h6 class="fw-bold">
                                            🖥️ GPU → Case
                                        </h6>

                                        <p class="text-muted small">
                                            Compatible computer cases for this graphics card.
                                        </p>
                                            
                                    {% endif %}

                                    <div class="d-grid gap-2">

                                        {% for rule in group.list %}

                                            {% if rule.product.id == product.id %}
                                
                                                <a class="btn btn-outline-success btn-sm"
                                                href="{% url 'shop:product_detail' rule.compatible_product.id %}">
                                                    {{ rule.compatible_product.name }}
                                                </a>  
                    
                                            {% else %}

                                                <a class="btn btn-outline-success btn-sm"
                                                href="{% url 'shop:product_detail' rule.product.id %}">
                                                    {{ rule.product.name }}
                                                </a> 

                                            {% endif %}
                            
                                        {% endfor %}
                                    
                                    </div>

                                </div>

                            </div>

                        </div>

                    {% endfor %}
                
                </div>
                
        </div>

    </div>

{% endif %}

{% if recommended_products %}

    <hr class="my-5">

    <div class="card border-primary shadow-sm">

        <div class="card-header bg-primary text-white">

            <h5 class="mb-0">
                🛒 Customers who bought this also bought
            </h5>

        </div>

        <div class="card-body">

            <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4 g-3">

                {% for item in recommended_products %}

                <div class="col">

                    <div class="card h-100 shadow-sm">

                        <div class="card-body">

                            <h6 class="fw-bold">
                                {{ item.name }}
                            </h6>

                            <p class="mb-2">
                                {{ item.price }} €
                            </p>

                            <a href="{% url 'shop:product_detail' item.id %}"
                            class="btn btn-outline-primary btn-sm">
                                View product
                            </a>

                        </div>

                    </div>

                </div>

                {% endfor %}
            </div>

        </div>

    </div>

{% endif %}


<hr class="my-5">

<div class="card shadow-sm">

    <div class="card-body">

        <h4>Reviews</h4>

        {% if average_rating %}

            <p>        
                {% include 'shop/components/rating_bar.html' with rating_percent=product.rating_percent %}
                
                <b>{{ average_rating|floatformat:1 }}</b>/5
                
                <span class="text-muted">
                    ( {{ product.review_count }} 
                    {% if product.review_count == 1 %}
                        review
                    {% else %}
                        reviews
                    {% endif %}
                    )
                </span>

            </p>

        {% else %}

            <p class="text-muted">
                No ratings yet.
            </p>

        {% endif %}

        <hr>

        {% for review in reviews %}

        <div class="border rounded p-3 mb-3">

            <div class="d-flex justify-content-between align-items-center">

                <b>{{ review.user.username }}</b>

                <div class="mb-2">

                    {% include 'shop/components/rating_stars.html' with rating=review.rating %}

                    <small class="text-muted">
                        {{ review.rating }}/5
                    </small>

                </div>

            </div>

            {% if review.comment %}

                <p class="mb-1">{{ review.comment }}</p>

            {% endif %}

            <small class="text-muted">{{ review.updated|date:"d.m.Y H:i" }}</small>

        </div>

        {% empty %}

            <p>No reviews yet.</p>
            
        {% endfor %}

    </div>

</div>

<hr class="my-5">

<div class="card shadow-sm">

    <div class="card-body">

        {% if user_review %}

            <div id="review-display">

                <h5>Your review</h5>

                <div class="border rounded p-3 mb-3">

                    <div class="mb-2">

                        {% include 'shop/components/rating_stars.html' with rating=user_review.rating %}

                        <small class="text-muted">{{ user_review.rating }}/5</small>

                    </div>

                    {% if user_review.comment %}

                        <p class="mb-2">{{ user_review.comment }}</p>
                    
                    {% else %}

                        <p class="mb-1 text-muted fst-italic">No comment added.</p>

                    {% endif %}

                    {% if user_review.created == user_review.updated %}

                        <small class="text-muted">
                            Created: {{ user_review.created|date:"d.m.Y H:i" }}
                        </small>
                    
                    {% else %}

                        <small class="text-muted">
                            Updated: {{ user_review.updated|date:"d.m.Y H:i" }}
                        </small>

                    {% endif %}

                    <br>
                    
                    <button 
                        type="button"
                        id="edit-review-btn"
                        class="btn btn-outline-primary mt-2">
                        Edit review
                    </button>

                </div>

            </div>

        {% endif %}

        <div id="review-form-container" {% if user_review %}style="display:none;"{% endif %}>

            <h5>
                {% if user_review %}
                    Edit review
                {% else %}
                    Write a review
                {% endif %}
            </h5>

            <form method="post" class="review-form">

                {% csrf_token %}

                <div class="star-rating mb-2">
                    <span data-value="1">★</span>
                    <span data-value="2">★</span>
                    <span data-value="3">★</span>
                    <span data-value="4">★</span>
                    <span data-value="5">★</span>
                </div>

                {{ form.rating }}

                <div class="mb-3">

                    <label class="form-label">
                        Comment
                    </label>

                    <textarea
                        name="comment"
                        class="form-control"
                        rows="3"
                        placeholder="Write your review..."
                    >{{ form.comment.value|default:'' }}</textarea>
                    

                </div>

                <button class="btn btn-success">
                    Save review
                </button>

            </form>   

        </div>

    </div>

</div>

<link rel="stylesheet" href="{% static 'shop/css/product_detail.css' %}">

<script src="{% static 'shop/js/product_detail.js' %}"></script>


{% endblock %}